<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/content.css">
    <title>About Us - My Portfolio</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    
    <div class="about">
        <h2>About Us</h2>
        <img src="\images\image cattt.jpg" alt="cat">
        <p>Welcome to Sumeya and Ayda page.</p>
    </div>
    <include("partials/footer.ejs") %>
    
</body>
</html>

